* {
    margin: 0px;
    padding: 0px;
}

html {
    /* css variables */
    /* --google-blue: ; */
    --illustration-bg: #D9D9D9;
}

.navbar-brand {
}

.navbar {
    padding-inline: 8.375em; /* 134px */
    border-bottom: solid var(--illustration-bg);
}

/* bootstrap container */
.container-fluid {
    padding-inline: 8.375em;
}

/* meet the team */
.team-illustration-box {
    /* border: solid red; */
    width: 18.75em; /* 300px */
    height: 18.75em; /* 300px */
    background-color: var(--illustration-bg);
}

.card {
    max-width: 18.75em; /* 300px */
    height: 25em; /* 400px */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}